<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Result Page | Marks</title>
    <link rel="shortcut icon" href="../static/icon.png" type="image/x-icon" />
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="correct"><%= receivedMarks %></div>
      <div class="slash">/</div>
      <div class="totalQuestion"><%= Question.length %></div>
    </div>

    <div class="listOfQuestion">
      <table>
        <tr>
          <th>Question</th>
          <th>Your Answer</th>
          <th>Correct Ans</th>
        </tr>
        <tr>
          <td class="question"><%= Question[0].Question %></td>
          <td class="yourAnswer"><%= Question[0].B %></td>
          <td class="rightAnswer"><%= Question[0].A %></td>
        </tr>
        <tr>
          <td class="question"><%= Question[1].Question %></td>
          <td class="yourAnswer"><%= Question[1].B %></td>
          <td class="rightAnswer"><%= Question[1].A %></td>
        </tr>
      </table>
    </div>
    <script>
      
    </script>
  </body>
</html>
